@import 'aaa/base.css';
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: solid 2px #d4c33e;
    transform: translate(200px, 200px);
}